
    <!-- Bootstrap Core JavaScript -->
    <script src="$!{basePath}/resource/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="$!{basePath}/resource/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="$!{basePath}/resource/dist/js/sb-admin-2.js"></script>